
      {% if settings.upsell_enable %}
      {% capture upsells %}
      {% assign upsellcount = 0 %}{% assign sell = '' %}
      {% if settings.upsell_content_first != blank %}<li>{{ settings.upsell_content_first }}</li>{% assign upsellcount = upsellcount | plus: 1 %}{% endif %}
      {% if settings.upsell_content_first != blank %}<li>{{ settings.upsell_content_second }}</li>{% assign upsellcount = upsellcount | plus: 1 %}{% endif %}
      {% if settings.upsell_content_first != blank %}<li>{{ settings.upsell_content_third }}</li>{% assign upsellcount = upsellcount | plus: 1 %}{% endif %}
      {% endcapture %}
      {% if upsellcount > 0 %}
      {% if upsellcount == 1 %}{% assign sell = ' one' %}{% endif %}
      {% if upsellcount == 2 %}{% assign sell = ' two' %}{% endif %}
      {% if upsellcount == 3 %}{% assign sell = ' three' %}{% endif %}
      <div class="upsellbar{{ sell }}">
        <div class="wrapper">
          <ul>
            {{ upsells }}
          </ul>
        </div>
      </div>
      {% endif %}
      {% endif %}
