
    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        <div class="grid">
          {% if settings.footer_social_enable %}
            <div class="grid__item large--one-third medium--one-half">
              <h3>{{ 'layout.footer.social_title' | t }}</h3>
                <ul class="inline-list social-icons">
                  {% include 'social-links' %}
                </ul>
            </div>
          {% endif %}
          {% if settings.footer_newsletter_enable %}
            <div class="grid__item large--one-third push--large--one-third medium--one-half">
              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
              {% if settings.newsletter_form_action != blank %}
                {% assign form_action = settings.newsletter_form_action %}
              {% else %}
                {% assign form_action = '#' %}
              {% endif %}
              <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                <span class="input-group-btn">
                  <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                </span>
              </form>
            </div>
          {% endif %}
          <div class="grid__item text-center">
            <hr>
            {% comment %}
              Loop through available payment methods and show their icons.
            {% endcomment %}
            {% if settings.payment_cards_enable %}
            {% unless shop.enabled_payment_types == empty %}
              <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li>
                    <span class="icon-fallback-text">
                      <span class="icon icon-{{type}}" aria-hidden="true"></span>
                      <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
            {% endif %}
            {% if settings.copyright %}<small>{{ settings.copyright }}</small>{% endif %}
          </div>
        </div>
      </div>
    </footer>
    <!-- //site-footer -->
    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {% comment %}
      Template-specific js
    {% endcomment %}
    <script>
      {% if resetPassword %}
        $(function() {
          timber.resetPasswordSuccess();
        });
      {% endif %}
      {% if settings.popup_enable %}
        {% include 'popup' %}
      {% endif %}      
    </script>
    {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_method == "drawer" %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: '#AddToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
        });
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
      </script>
    {% endif %}

