
    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        {% if settings.testimonials_enable and settings.testimonials_align == 'footer' %}
        <div class="grid">
          {% include 'testimonials' %}
        </div>
        {% endif %}
        <div class="grid">

          {% capture social %}
          {% if settings.footer_social_enable %}
            {% capture links | strip %}
            {% include 'social-links' %}
            {% endcapture %}
            {% if links != blank %}
            <div class="grid__item large--one-third medium--one-half">
              <h3>{{ 'layout.footer.social_title' | t }}</h3>
                <ul class="inline-list social-icons">
                  {{ links }}
                </ul>
            </div>          
            {% endif %}          
          {% endif %}
          {% endcapture %}

          {% capture newsletter %}
          {% if settings.footer_newsletter_enable %}
            <!-- <div class="grid__item large--one-third push--large--one-third medium--one-half"> -->
            <div class="grid__item large--one-third medium--one-half">
            {% include 'newsletter' %}
            </div>
          {% endif %}
          {% endcapture %}

          {% if settings.footer_order != blank %}
            {% assign modules = settings.footer_order | split: "-" %}
            {% for module in modules %}
              {% case module %}
                {% when 'S' %}
                  {{ social }}
                {% when 'N' %}
                  {{ newsletter }}
              {% endcase %}
            {% endfor %}      
          {% endif %} 
          
          <div class="grid__item text-center">
            <hr>
            {% comment %}
              Loop through available payment methods and show their icons.
            {% endcomment %}
            {% if settings.payment_cards_enable %}
            {% unless shop.enabled_payment_types == empty %}
              <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  <li>
                    <span class="icon-fallback-text">
                      <span class="icon icon-{{type}}" aria-hidden="true"></span>
                      <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
            {% endif %}
            {% if settings.copyright %}<small>{% assign year = 'now' | date: '%Y' %}{{ settings.copyright | replace: "[shop]", shop.name | replace: "[year]", year }}</small>{% endif %}
          </div>

        </div>
        {% if settings.top_of_page_enable and settings.top_of_page_align == 'bottom_center' %}{% include 'top-link' %}{% endif %}  
      </div>      
    </footer>



    <!-- //site-footer -->
    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {% comment %}
      Template-specific js
    {% endcomment %}
    <script>
      {% if resetPassword %}
        $(function() {
          timber.resetPasswordSuccess();
        });
      {% endif %}
      {% if settings.popup_enable %}
        {% include 'popup' %}
      {% endif %}      
    </script>
    {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_method == "drawer" %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: '#AddToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
        });
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
      </script>
    {% endif %}

