
    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="wrapper">
        {% if settings.testimonials_enable and settings.testimonials_align == 'footer' %}
        <div class="grid">
          {% include 'testimonials' %}
        </div>
        {% endif %}
        
        <div class="grid">  

          {% if settings.footer_order != blank %}        
            {% assign modules = settings.footer_order | split: "-" %}
            {% assign lastModule = modules | last %}
            {% assign captures = 0 %}
            <!-- Footer Modules Count: {{ modules | size }} -->
            <!-- Footer Modules Last: {{ modules | last }} -->
            <!-- IF Check: {% if lastModule == 'W' %} last{% endif %} -->

            {% capture footmenu1 %}
              {% if settings.footer_linklist_1 != blank %}
              <div class="grid__item largeColumns mediumColumns">
                <h3>{{ linklists[settings.footer_linklist_1].title }}</h3>
                <ul>
                  {% for link in linklists[settings.footer_linklist_1].links %}
                    <li>
                      <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>          
                      {% if linklists[link.handle] != empty %}
                        {% assign display_sublinks = false %}             
                        {% for link in linklists[link.handle].links %}
                          {% if link.active %}
                            {% assign display_sublinks = true %}
                          {% endif %}
                        {% endfor %}
                        {% if display_sublinks or link.active %}
                          <ul>
                          {% for link in linklists[link.handle].links %}
                            <li>
                              <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                            </li>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            {% endcapture %}

            {% capture footmenu2 %}
              {% if settings.footer_linklist_2 != blank %}
              <div class="grid__item largeColumns mediumColumns">
                <h3>{{ linklists[settings.footer_linklist_2].title }}</h3>
                <ul>
                  {% for link in linklists[settings.footer_linklist_2].links %}
                    <li>
                      <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>          
                      {% if linklists[link.handle] != empty %}
                        {% assign display_sublinks = false %}             
                        {% for link in linklists[link.handle].links %}
                          {% if link.active %}
                            {% assign display_sublinks = true %}
                          {% endif %}
                        {% endfor %}
                        {% if display_sublinks or link.active %}
                          <ul>
                          {% for link in linklists[link.handle].links %}
                            <li>
                              <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                            </li>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            {% endcapture %}

            {% capture social %}
            {% if settings.footer_social_enable %}
              {% capture links | strip %}
              {% include 'social-links' %}
              {% endcapture %}
              {% if links != blank %}
              <!-- <div class="grid__item large--one-third push--large--one-third medium--one-half"> -->
              <div class="grid__item largeColumns mediumColumns">
                <h3>{{ 'layout.footer.social_title' | t }}</h3>
                  <ul class="inline-list social-icons">
                    {{ links }}
                  </ul>
              </div>          
              {% endif %}          
            {% endif %}
            {% endcapture %}

            {% capture newsletter %}
            {% if settings.footer_newsletter_enable %}
              <!-- <div class="grid__item large--one-third push--large--one-third medium--one-half"> -->
              <div class="grid__item largeColumns mediumColumns">
              {% include 'newsletter' %}
              </div>
            {% endif %}
            {% endcapture %}

            {% capture content %}
            {% if settings.show_footer_content %}
              {% if settings.footer_content_text != blank %}
                <!-- <div class="grid__item large--one-third push--large--one-third medium--one-half"> -->
                <div class="grid__item largeColumns mediumColumns">
                  {% if settings.footer_content_heading != blank %}<h3>{{ settings.footer_content_heading }}</h3>{% endif %}
                  <p>{{ settings.footer_content_text }}</p>
                </div>          
              {% endif %}          
            {% endif %}
            {% endcapture %}

            {% if footmenu1 != blank %}{% assign captures = captures | plus: 1 %}{% endif %}
            {% if footmenu2 != blank %}{% assign captures = captures | plus: 1 %}{% endif %}
            {% if social != blank %}{% assign captures = captures | plus: 1 %}{% endif %}
            {% if newsletter != blank %}{% assign captures = captures | plus: 1 %}{% endif %}
            {% if content != blank %}{% assign captures = captures | plus: 1 %}{% endif %}

            <!-- Captures: {{ captures }} -->
            {% capture moduleOutput %}
              {% assign modulesCount = modules | size %}
              {% assign largeColumns = '' %}
              {% assign mediumColumns = '' %}
              {% if captures == 1 %}{% assign largeColumns = ' large--one-whole' %}{% endif %}
              {% if captures == 2 %}{% assign largeColumns = ' large--one-half' %}{% assign mediumColumns = ' medium--one-whole' %}{% endif %}
              {% if captures == 3 %}{% assign largeColumns = ' large--one-third' %}{% assign mediumColumns = ' medium--one-whole' %}{% endif %}
              {% if captures == 4 %}{% assign largeColumns = ' large--one-quarter' %}{% assign mediumColumns = ' medium--one-half' %}{% endif %}
              {% if captures == 5 %}{% assign largeColumns = ' large--one-fifth' %}{% assign mediumColumns = ' medium--one-half' %}{% endif %}
              {% for module in modules %}
                {% case module %}
                  {% when '1' %}
                    {{ footmenu1 | replace: ' largeColumns', largeColumns | replace: ' mediumColumns', mediumColumns }}                
                  {% when '2' %}
                    {{ footmenu2 | replace: ' largeColumns', largeColumns | replace: ' mediumColumns', mediumColumns }}                
                  {% when 'S' %}
                    {{ social | replace: ' largeColumns', largeColumns | replace: ' mediumColumns', mediumColumns }}
                  {% when 'N' %}
                    {{ newsletter | replace: ' largeColumns', largeColumns | replace: ' mediumColumns', mediumColumns }}
                  {% when 'T' %}
                    {{ content | replace: ' largeColumns', largeColumns | replace: ' mediumColumns', mediumColumns }}
                {% endcase %}
              {% endfor %} 
            {% endcapture %}

            {% if moduleOutput != blank %}
            <div class="modules">
            {{ moduleOutput }}
            </div>
            {% endif %}


          {% endif %}             
            
            <div class="grid__item text-center">
              <hr>
              {% comment %}
                Loop through available payment methods and show their icons.
              {% endcomment %}
              {% if settings.payment_cards_enable %}
              {% unless shop.enabled_payment_types == empty %}
                <h4 class="text-center">{{ 'layout.footer.accepted_payments' | t }}</h4>
                <ul class="inline-list payment-icons">
                  {% for type in shop.enabled_payment_types %}
                    <li>
                      <span class="icon-fallback-text">
                        <span class="icon icon-{{type}}" aria-hidden="true"></span>
                        <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                      </span>
                    </li>
                  {% endfor %}
                </ul>
              {% endunless %}
              {% endif %}
              {% if settings.copyright %}<small>{% assign year = 'now' | date: '%Y' %}{{ settings.copyright | replace: "[shop]", shop.name | replace: "[year]", year }}</small>{% endif %}
            </div>

          </div>

        {% if settings.top_of_page_enable and settings.top_of_page_align == 'bottom_center' %}{% include 'top-link' %}{% endif %} 

      </div>      
    </footer>

    <!-- //site-footer -->
    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {% comment %}
      Template-specific js
    {% endcomment %}
    <script>
      {% if resetPassword %}
        $(function() {
          timber.resetPasswordSuccess();
        });
      {% endif %}
      {% if settings.popup_enable %}
        {% include 'popup' %}
      {% endif %}      
    </script>
    {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.ajax_cart_method == "drawer" %}
      {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% include 'ajax-cart-template' %}
      {{ 'ajax-cart.js' | asset_url | script_tag }}
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: '#AddToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
        });
        jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
          // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
          timber.RightDrawer.open();
        });
      </script>
    {% endif %}

