<!-- // Demo nav -->
{% if liclass != '' %}
{% assign liclass = ' class="site-nav__link"' %}
{% else %}
{% assign liclass = '' %}
{% endif %}
            <li><a href="/"{{ liclass }}>Home</a></li>
            <li><a href="/pages/about-us"{{ liclass }}>About</a></li>
            <li><a href="/collections/all"{{ liclass }}>Treatments</a></li>
            <li><a href="/pages/about-us"{{ liclass }}>Prices</a></li>
            <li><a href="/pages/about-us"{{ liclass }}>Gallery</a></li>
            <li><a href="/blogs/news"{{ liclass }}>News</a></li>
            <li><a href="/pages/about-us"{{ liclass }}>Contact</a></li>
