
    <nav class="nav-bar" role="navigation">
      {% if settings.searchbox_enable and settings.search_align == 'menu_right' %}
      {% assign seaarchclass = ' search-right' %}
      {% endif %}
      <div class="wrapper{{ seaarchclass }}">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
          {% capture demo %}{% for item in linklists.main-menu.links %}{{ item.title | handleize }}{% endfor %}{% endcapture %}
          {% if demo == 'homecatalogblogabout-us' %}
            {% include 'nav-demo' %}
           {% else %}                    
            {% for link in linklists.main-menu.links %}           
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="{% if settings.header_submenu %}site-nav--has-dropdown {% endif %}{% if link.active %}site-nav--active{% endif %}"{% if settings.header_submenu %} aria-haspopup="true"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    {% if settings.header_submenu %}<span class="icon icon-arrow-down" aria-hidden="true"></span>{% endif %}
                  </a>
                  {% if settings.header_submenu %}{{ subnav }}{% endif %}
                </li>
              {% else %}
                <li{% if link.active %} class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
          </ul>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        {% if settings.search_align == 'menu_right' %}
        {% assign search_parent = '' %}
        {% include 'search-bar' %}
        {% endif %}
        
      </div>
    </nav>
