{% if settings.sidebar_enable or settings.sidebar_home_enable %}
{% if template != 'index' or settings.sidebar_home_enable %}
{% if settings.sidebar_linklist %}{% assign sidelist = true %}{% else %}{% assign sidelist = false %}{% endif %}
{% if template contains 'collection' or template contains 'product' %}{% unless settings.collection_sidebar_linklist %}{% assign sidelist = false %}{% endunless %}{% endif %}
{% if settings.sidebar_page %}{% assign sidepage = true %}{% else %}{% assign sidepage = false %}{% endif %}
{% if template contains 'collection' or template contains 'product' %}{% unless settings.collection_sidebar_page %}{% assign sidepage = false %}{% endunless %}{% endif %}
{% if settings.sidebar_toggle %}{% assign toggle = ' class="toggle"><span>+</span' %}{% assign toggleul = ' toggle_list' %}{% endif %}
{% if settings.sidebar_divider_horizontal %}{% unless settings.sidebar_features_boxed %}{% assign divide_h = '<hr>' %}{% endunless %}{% endif %}
{% unless settings.sidebar_bullets %}{% assign bullets = ' no-bullets' %}{% endunless %}
<!-- Sidebar | Align: {{ sidebar }} -->
<div id="sidecolumn">
<div class="sidebar {{ sidebar }}" id="sidebar">
<aside class="grid" role="complementary">

	{% if settings.search_align == 'sidebar_top' %}
		<div class="grid__item">
			<h4{{ toggle }}>{{ 'general.search.heading' | t }}</h4>
            {% assign search_parent = '' %}
            {% include 'search-bar' %}
            {{ divide_h }}
        </div>	
	{% endif %}

    <!--                
    <div class="grid__item">
    <ul>
    {% for link in linklists.main-menu.links %}           
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="{% if settings.header_submenu %}has-subnav {% endif %}{% if link.active %}subnav--active{% endif %}"{% if settings.header_submenu %} aria-haspopup="true"{% endif %}>
                  <a href="{{ link.url }}" class="subnav__link">
                    {{ link.title }}
                    {% if settings.header_submenu %}<span class="icon icon-arrow-down" aria-hidden="true"></span>{% endif %}
                  </a>
                  {% capture subnav %}
                  <ul class="subnav">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li{% if childlink.active %} class="subnav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="subnav__link">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% endcapture %}
                  {{ subnav }}
                </li>
              {% else %}
                <li{% if link.active %} class="subnav--active"{% endif %}>
                  <a href="{{ link.url }}" class="subnav__link">{{ link.title }}</a>
                </li>
              {% endif %}
    {% endfor %}
    </ul>
    </div>
    -->


	{% if template contains 'blog' or template contains 'article' %}
		<div class="grid__item">
			<h4{{ toggle }}>{{ 'blogs.sidebar.recent_articles' | t }}</h4>
			<ul class="blog_list{{ bullets }}{{ toggleul }}">
				{% for article in blogs[blog.handle].articles limit:6 %}
				    <li>
				    <a href="{{ article.url }}">{{ article.title }}</a>
				    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
				    </li>
				{% endfor %}
			</ul>
			{{ divide_h }}
		</div>
		{% comment %}
		  Blog tags
		{% endcomment %}
		{% if blog.all_tags.size > 0 %}
		<div class="grid__item">
			<h4{{ toggle }}>{{ 'blogs.sidebar.categories' | t }}</h4>
			<ul class="blog_list{{ bullets }}{{ toggleul }}">
			    {% for tag in blog.all_tags %}
				    {% if current_tags contains tag %}
				    <li>{{ tag }}</li>
				    {% else %}
				    <li>{{ tag | link_to_tag: tag }}</li>
				    {% endif %}
			    {% endfor %}
			</ul>
			{{ divide_h }}
		</div>  
		{% endif %}
	{% else %}
        {% capture demo %}{% for item in linklists.main-menu.links %}{{ item.title | handleize }}{% endfor %}{% endcapture %}
        {% if demo == 'homecatalogblogabout-us' %}
        	<div class="grid__item"> 
				<h4{{ toggle }}>{{ 'collections.sidebar.sidemenu' | t }}</h4>
				<ul class="blog_list{{ bullets }}{{ toggleul }}">
					{% assign liclass = '' %}
				    {% include 'nav-demo' %}
				</ul>
				{{ divide_h }}
			</div>	
		{% else %}
		  {% if settings.sidebar_linklist != blank and sidelist == true %}
		  	<div class="grid__item">
			    <h4{{ toggle }}>{{ linklists[settings.sidebar_linklist].title }}</h4>
			    {% capture nav %}
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for link in linklists[settings.sidebar_linklist].links %}			      
			      {% assign toptitle = link.title %}
			      {% assign tophandle = 'parent-' | append: link.handle %}     	
			        <li class="{{ tophandle }}{% if link.active %} active{% assign activehandle = 'parent-' | append: link.handle %}{% endif %}">
			          <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>          
			          {% if linklists[link.handle] != empty %}
			            {% capture subnav %}
			            {% assign display_sublinks = false %}		          
			            {% for link in linklists[link.handle].links %}
			              {% if link.active %}
			                {% assign display_sublinks = true %}
			              {% endif %}
			            {% endfor %}
			            {% if display_sublinks or link.active %}
			              <ul>
			              {% for link in linklists[link.handle].links %}
			                <li{% if link.active %} class="active"{% assign activehandle = tophandle %}{% endif %}>
			                  <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
			                </li>
			              {% endfor %}
			              </ul>
			            {% endif %}
			            {% endcapture %}
			            [subnav]		            
			          {% endif %}
			        </li>
			      {% endfor %}
			    </ul>
			    {% endcapture %}
			    <!-- activehandle: {{ activehandle }} -->
			    {% assign activeclass = activehandle | append: ' active' %}
			    {% assign nav = nav | replace: activehandle, activeclass %}
			    {{ nav | replace: '[subnav]', subnav }}

			    {{ divide_h }}
			</div>
		  {% endif %}				
		{% endif %}
		{% if template contains 'collection' or template contains 'product' %}

			  {% if settings.collection_sidebar_products %}
			  <div class="grid__item">
			    <h4{{ toggle }}>{{ 'collections.sidebar.types' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for product_type in shop.types %}
			        <li {% if product_type == collection.title %}class="active"{% endif %}>{{ product_type | link_to_type }}</li>
			      {% endfor %}
			    </ul>
			    {{ divide_h }}
			  </div>  
			  {% endif %}

			  {% if settings.collection_sidebar_vendors %}
			  <div class="grid__item">
			    <h4{{ toggle }}>{{ 'collections.sidebar.vendors' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for product_vendor in shop.vendors %}
			        <li {% if product_vendor == collection.title %}class="active"{% endif %}>{{ product_vendor | link_to_vendor }}</li>
			      {% endfor %}
			    </ul>
			    {{ divide_h }}
			  </div>  
			  {% endif %}

			  {% assign tag_count = collection.all_tags | size %}
			  {% if settings.filter_by_tag and tag_count > 0 %}
			  <div class="grid__item">
			    <h4{{ toggle }}>{{ 'collections.sidebar.tags' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for tag in collection.all_tags %}
			        {% unless tag contains 'meta-related-collection-' %}
			          <li>
			            <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
			          </li>
			        {% endunless %}
			      {% endfor %}
			    </ul>
			    {{ divide_h }}
			  </div>     
			  {% endif %}

		{% endif %}

			{% if settings.sidebar_page != blank and sidepage == true %}
				<div class="grid__item">
				    <h4{{ toggle }}>{{ pages[settings.sidebar_page].title }}</h4>
				    {{ pages[settings.sidebar_page].content }}
				    {{ divide_h }}
				</div>   
			{% endif %}

	{% endif %}
    {% if settings.testimonials_enable and settings.testimonials_align == 'sidebar' %}
  		<div class="grid__item">
  			{% include 'testimonials' %}
  			{{ divide_h }}
  		</div> 
    {% endif %}
    {% if settings.sidebar_newsletter_enable %}
  		<div class="grid__item">
  			{% include 'newsletter' %}
  			{{ divide_h }}
  		</div> 
    {% endif %}
</aside>
</div>
</div>

{% endif %}
{% endif %}
