{% if settings.sidebar_enable or settings.sidebar_home_enable %}
{% if template != 'index' or settings.sidebar_home_enable %}
{% if settings.sidebar_toggle %}{% assign toggle = ' class="toggle"><span>+</span' %}{% assign toggleul = ' toggle_list' %}{% endif %}
{% unless settings.sidebar_bullets %}{% assign bullets = ' no-bullets' %}{% endunless %}
<!-- Sidebar | Align: {{ sidebar }} -->
<div class="sidebar {{ sidebar }}">
<aside class="grid__item large--one-quarter" role="complementary">
	{% if template contains 'blog' or template contains 'article' %}
		<h4{{ toggle }}>{{ 'blogs.sidebar.recent_articles' | t }}</h4>
		<ul class="blog_list{{ bullets }}{{ toggleul }}">
		  {% for article in blogs[blog.handle].articles limit:6 %}
		    <li>
		      <a href="{{ article.url }}">{{ article.title }}</a>
		      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
		    </li>
		  {% endfor %}
		</ul>
		{% comment %}
		  Blog tags
		{% endcomment %}
		{% if blog.all_tags.size > 0 %}
		  <h4{{ toggle }}>{{ 'blogs.sidebar.categories' | t }}</h4>
		  <ul class="blog_list{{ bullets }}{{ toggleul }}">
		    {% for tag in blog.all_tags %}
		      {% if current_tags contains tag %}
		      <li>{{ tag }}</li>
		      {% else %}
		      <li>{{ tag | link_to_tag: tag }}</li>
		      {% endif %}
		    {% endfor %}
		  </ul>
		{% endif %}
	{% else %}
        {% capture demo %}{% for item in linklists.main-menu.links %}{{ item.title | handleize }}{% endfor %}{% endcapture %}
        {% if demo == 'homecatalogblogabout-us' %}            
			<h4{{ toggle }}>{{ 'collections.sidebar.sidemenu' | t }}</h4>
			<ul class="blog_list{{ bullets }}{{ toggleul }}">
				{% assign liclass = '' %}
			    {% include 'nav-demo' %}
			</ul>	
		{% else %}
		  {% if settings.sidebar_linklist != blank %}
		    <h4{{ toggle }}>{{ linklists[settings.sidebar_linklist].title }}</h4>
		    <ul class="blog_list{{ bullets }}{{ toggleul }}">
		      {% for link in linklists[settings.sidebar_linklist].links %}
		        <li>
		          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>          
		          {% if linklists[link.handle] != empty %}
		            {% assign display_sublinks = false %}		          
		            {% for link in linklists[link.handle].links %}
		              {% if link.active %}
		                {% assign display_sublinks = true %}
		              {% endif %}
		            {% endfor %}
		            {% if display_sublinks or link.active %}
		              <ul>
		              {% for link in linklists[link.handle].links %}
		                <li>
		                  <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
		                </li>
		              {% endfor %}
		              </ul>
		            {% endif %}
		          {% endif %}
		        </li>
		      {% endfor %}
		    </ul>
		  {% endif %}				
		{% endif %}
		{% if template contains 'collection' or template contains 'product' %}


			  {% if settings.collection_sidebar_products %}
			    <h4{{ toggle }}>{{ 'collections.sidebar.types' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for product_type in shop.types %}
			        <li {% if product_type == collection.title %}class="active"{% endif %}>{{ product_type | link_to_type }}</li>
			      {% endfor %}
			    </ul>
			  {% endif %}

			  {% if settings.collection_sidebar_vendors %}
			    <h4{{ toggle }}>{{ 'collections.sidebar.vendors' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for product_vendor in shop.vendors %}
			        <li {% if product_vendor == collection.title %}class="active"{% endif %}>{{ product_vendor | link_to_vendor }}</li>
			      {% endfor %}
			    </ul>
			  {% endif %}

			  {% assign tag_count = collection.all_tags | size %}
			  {% if settings.filter_by_tag and tag_count > 0 %}
			    <h4{{ toggle }}>{{ 'collections.sidebar.tags' | t }}</h4>
			    <ul class="blog_list{{ bullets }}{{ toggleul }}">
			      {% for tag in collection.all_tags %}
			        {% unless tag contains 'meta-related-collection-' %}
			          <li>
			            <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
			          </li>
			        {% endunless %}
			      {% endfor %}
			    </ul>    
			  {% endif %}

		{% endif %}

			{% if settings.sidebar_page != blank %}
			    <h4{{ toggle }}>{{ pages[settings.sidebar_page].title }}</h4>
			    {{ pages[settings.sidebar_page].content }}
			{% endif %}

	{% endif %}
    {% if settings.testimonials_enable and settings.testimonials_align == 'sidebar' %}
  		{% include 'testimonials' %}
    {% endif %}
</aside>
</div>

{% endif %}
{% endif %}
