<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}
  {% include 'social-meta-tags' %}
  <title>{% if template == 'index' %}{{ page_title }}{% elsif template == '404' %}Page Not Found{% else %}{{ page_title }}{% endif %}</title>
  <link rel="canonical" href="{{ canonical_url }}">
  {% if settings.favicon_enable %}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />{% endif %} 
  {% include 'head-css' %}
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}{{ 'shopify_common.js' | shopify_asset_url | script_tag }}{% endif %}  
  {% assign sidebar = 'nosidebar' %}
  {% if settings.sidebar_enable or settings.sidebar_home_enable %}
  {% if template != 'index' or settings.sidebar_home_enable %}
    {% assign sidebar = settings.sidebar_align %}
  {% endif %}
  {% endif %}  
  {% assign breadcrumb = settings.breadcrumb_align %}
</head>
{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template == 'collection' %}{{ collection.handle }} {% endif %}{% if settings.topbar_enable %} topbar-enabled{% endif %}" >
  {% include 'top-bar' %}
  {% include 'nav-drawer' %}
  <div id="PageContainer" class="is-moved-by-drawer">
    {% include 'header' %}
    {% include 'nav-main' %}
    {% if breadcrumb == 'nav' %}{% include 'breadcrumb' %}{% endif %}
    <main class="wrapper main-content" role="main">
      <div class="{{ sidebar }}">
        {% if template == 'index' and settings.banner_home_enable %}
        {% include 'banner' %}
        {% elsif template != 'index' and settings.banner_enable %}
        {% include 'banner' %}
        {% endif %}
        {% include 'sidebar' %}
        <div class="main-body">
        {{ content_for_layout }}
        {% if settings.top_of_page_enable and settings.top_of_page_align != 'bottom_center' %}{% include 'top-link' %}{% endif %}  
        </div>
      </div>
    </main>
  </div>
  {% include 'footer' %}
  {% include 'search-autocomplete' %}
</body>
</html>