<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% if settings.sidebar_enable and settings.sidebar_home_enable %}
{% assign quarters = ' large--three-quarters' %}
{% if breadcrumb == 'content' %}{% include 'breadcrumb' %}{% endif %}
<div class="grid--rev">

  <div class="grid__item{{ quarters }}">

    <!--
  {% if settings.show_welcome_text and settings.welcome_text_page != empty %} 
    <h1>{{ pages[settings.welcome_text_page].title }}</h1>
    {% endif %}
  -->
    {% assign indexTitle = '' %}

    <div class="rte">

{% else %}

  {% capture indexTitle %}
    {% if settings.show_welcome_text and settings.welcome_text_page != empty %}  
      <h1>{{ pages[settings.welcome_text_page].title }}</h1>
    {% endif %}
    {% endcapture %}      

{% endif %}

      {% capture welcomeContent %}
      <section>
      {% if settings.show_welcome_text and settings.welcome_text_page != empty %}
      {{ indexTitle }}
      <div class="grid-uniform">
        <div class="grid__item">
          {{ pages[settings.welcome_text_page].content }} 
        </div>
      </div>
      {% if settings.dividers_enable %}<hr>{% endif %}
      {% endif %}
      {% endcapture %}
      
      {% capture collectionProducts %}
      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <h1>{{ 'homepage.sections.frontpage_title' | t }}</h1>
      <div class="grid-uniform">
        {% comment %}
          Loop through products in your Frontpage collection.
          This collection is created by default, but you must add products to it.
        {% endcomment %}
        {% for product in collections.frontpage.products limit:4 %}

          {% comment %}
            Change the grid item width by using classes from the grid in
            the grid_item_width variable.

            Example:
              - {% assign grid_item_width = 'large--one-third medium--one-half' %}
          {% endcomment %}
          {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
          {% include 'product-grid-item' %}

        {% else %}
          {% comment %}
            For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
          {% endcomment %}

          {% if settings.demo_content_enable %}
              {% unless emptyState %}
                {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                {% assign emptyState = true %}
              {% endunless %}
              {% include 'onboarding-featured-products' %}
          {% endif %}

        {% endfor %}

      </div>
      {% if settings.dividers_enable %}<hr>{% endif %}
      </section>
      {% endcapture %}

      {% capture collectionFeatured %}  
      {% comment %}
          Show five collections, unless it's 'frontpage'.

          Use an index variable in combination to the limit filter
          to account for the frontpage collection being in top six returned.

          Use variable isEmpty to check if no collections will be shown.
          For empty store demo only.
      {% endcomment %}   
      <section>
      <h1>{{ 'homepage.sections.featured_title' | t }}</h1>
      <div class="grid-uniform">
        {% assign index = 1 %}
        {% assign isEmpty = true %}

        {% for collection in collections limit:6 %}
          {% unless index > 5 %}

            {% unless collection.handle == 'frontpage' %}
              {% assign isEmpty = false %}
              {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
              <div class="grid__item {{ collection_item_width }} text-center">
                {% comment %}
                  Use capture to put the collection title in a variable that is used in liquid filters
                {% endcomment %}
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

                <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
                  {% if collection.image %}
                    {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
                  {% else %}
                    {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
                  {% endif %}
                </a>

                <p>
                  <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
                  {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
                </p>
              </div>
              {% assign index = index | plus: 1 %}
            {% endunless %}

          {% endunless %}
        {% endfor %}

        {% comment %}
          For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
        {% endcomment %}

        {% if settings.demo_content_enable %}
        {% if isEmpty %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}

          {% include 'onboarding-featured-collections' %}
        {% endif %}
        {% endif %}

      </div>
      {% if settings.dividers_enable %}<hr>{% endif %}
      </section>
      {% endcapture %}

      {% capture blogArticles %}
      {% comment %}
        Loop through three recent blog articles with the following code.

        Since we're not on the blog template, we need to define the blog
        handle we want to focus on. For this example we'll use the default 'news',
        but you can create a blog page-specific content if you want.
      {% endcomment %}
      <section>
      <h1>{{ 'homepage.sections.news_title' | t }}</h1>
      <div class="grid">

        {% capture demo %}{% for item in linklists.main-menu.links %}{{ item.title | handleize }}{% endfor %}{% endcapture %}
        {% if demo == 'homecatalogblogabout-us' %}

          {% if settings.demo_content_enable %}
          {% include 'onboarding-featured-blog' %}
          {% endif %}
          
        {% else %}

          {% for article in blogs['news'].articles limit:3 %}

            <div class="grid__item large--one-third">
              {% include 'blog-item' %}
            </div>

          {% endfor %}

        {% endif %}

      </div>
      {% if settings.dividers_enable %}<hr>{% endif %}
      </section>
      {% endcapture %}
      
      {% if settings.home_order != blank %}
        {% assign modules = settings.home_order | split: "-" %}
        {% for module in modules %}
          {% case module %}
            {% when 'W' %}
              {{ welcomeContent }}
            {% when 'P' %}
              {{ collectionProducts }} 
            {% when 'C' %}
              {{ collectionFeatured }}
            {% when 'B' %}
              {{ blogArticles }}
          {% endcase %}
        {% endfor %}      
      {% endif %} 

      {% comment %}      
      {{ welcomeContent }}
      {{ collectionProducts }}    
      {{ collectionFeatured }}
      {{ blogArticles }}      
      {% endcomment %}

{% if settings.sidebar_enable and settings.sidebar_home_enable %}

    </div>

  </div>

</div>

{% endif %}
