{% if breadcrumb == 'content' %}{% include 'breadcrumb' %}{% endif %}

{% if settings.sidebar_enable %}{% assign quarters = ' large--three-quarters' %}{% else %}{% assign quarters = ' large--one-whole' %}{% endif %}

<!-- /templates/page.liquid -->
<div class="grid--rev">

  <div class="grid__item{{ quarters }}">

    <h1>{{ page.title }}</h1>

    <div class="rte team">

    {% capture teamlinks %}
    {% for link in linklists.team-menu.links %}
    <li class="grid__item">      
        {% assign mypage = link.url %}     
        {% assign parts = mypage | split: '/' %}
        {% for part in parts %}
        {% assign mypage = part %} 
        {% endfor %}
        {% assign gallery = pages[mypage].content %}
        {% assign gallery = gallery | replace: '"><img', '">||<img' %}
        {% assign gallery = gallery | replace: '">', '">||' %}
        {% assign gallery = gallery | replace: '<img', '||<img' %}
        {% assign gallery = gallery | replace: '||||', '||' %}
        {% assign pageArray = gallery | split: "||" %} 
        {% capture portrait %}
        {% for item in pageArray %}{% if item contains '<img' %}{{ item }}{% endif %}
        {% endfor %}
        {% endcapture %}
        {% capture profile %}
        {% for item in pageArray %}
            {% unless item contains '<img' %}{{ item }}{% endunless %}
        {% endfor %}
        {% endcapture %} 

        {% assign headings = profile | replace: '<h2', '||<h2' %}
        {% assign headings = headings | replace: '/h2>', '/h2>||' %}
        {% assign headings = headings | replace: '<h3', '||<h3' %}
        {% assign headings = headings | replace: '/h3>', '/h3>||' %}
        {% assign headingArray = headings | split: "||" %} 
        {% assign heading2 = link.title %}
        {% capture heading3 %}
        {% for heading in headingArray %}{% if heading contains '<h2' %}{{ heading | strip_html }}{% endif %}
        {% endfor %}
        {% endcapture %} 
        {% capture heading4 %}
        {% for heading in headingArray %}{% if heading contains '<h3' %}{{ heading | strip_html }}{% endif %}
        {% endfor %}
        {% endcapture %}  

        {% if heading3 != blank %}
        {% assign heading3 = '<h3 class="job">' | append: heading3 | append: '</h3>' %}
        {% endif %}

        {% if heading4 != blank %}
        {% endif %}

        <a href="{{ link.url }}">          
          {{ portrait }}          
          <div><h2 class="name">{{ heading2 }}</h2> {{ heading3 }}</div>
        </a>
    </li>
    {% endfor %}
    {% endcapture %}
  
    {% if settings.demo_content_enable %}
    {% if teamlinks == blank %}
    <p>To automatically display your team on this page, please do the following:</p>
    <ol>
      <li>Set layout for all people to <strong>page.person</strong></li>
      <li><a href="/admin/link_lists/new">Create a new menu</a></li>
      <li>Name it <strong>Team menu</strong></li>
      <li>Handle must be <strong>team-menu</strong> (change if required)</li>
      <li>Add people page links</li>
      <li>Save menu</li>
      <li>Done</li>
    </ol>
    {% else %}
    <ul class="people">
    {{ teamlinks }}
    </ul>
    {% endif %}
    {% endif %}    
    
    
    <!--

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte gallery">    
    {% assign gallery = page.content %}
    {% assign gallery = gallery | replace: '"><img', '">||<img' %}
    {% assign gallery = gallery | replace: '">', '">||' %}
    {% assign gallery = gallery | replace: '<img', '||<img' %}
    {% assign gallery = gallery | replace: '||||', '||' %}
    {% assign pageArray = gallery | split: "||" %}
    {% comment %}
      Check if array item is image
    {% endcomment %}    
    {% capture galleryImages %}
    {% for item in pageArray %}{% if item contains '<img' %}{{ item }}{% endif %}
    {% endfor %}
    {% endcapture %}
    {% comment %}
      Check if array item is not image
    {% endcomment %}    
    {% capture galleryMeta %}
    {% for item in pageArray %}
      {% unless item contains '<img' %}{{ item }}{% endunless %}
    {% endfor %}
    {% endcapture %}

    <div class="thumbnails">{{ galleryImages }}</div>
    {{ galleryMeta }}

    {% comment %}
      Output image array and other array
    {% endcomment %}

    </div>

    -->

    </div>

    {% include 'date-updated' %}

  </div>

</div>
