{% if settings.team_profile_layout == '2' %}{% assign profile = ' profile columns ' | append: settings.team_profile_photo_width %}{% else %}{% assign profile = ' profile' %}{% endif %}

<!-- /templates/page.liquid -->
<div class="grid--rev">

  <div class="grid__item{{ quarters }}">    

    <div class="rte">

      {% if settings.breadcrumb_align == 'content' %}{% include 'breadcrumb' %}{% endif %}

      <div class="{{ profile }}">

      {% if settings.team_profile_h1_inline == blank %}<h1>{{ page.title }}</h1>{% endif %}

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      

        {% assign gallery = page.content %}
        {% assign gallery = gallery | replace: '"><img', '">||<img' %}
        {% assign gallery = gallery | replace: '">', '">||' %}
        {% assign gallery = gallery | replace: '<img', '||<img' %}
        {% assign gallery = gallery | replace: '||||', '||' %}
        {% assign pageArray = gallery | split: "||" %}
        {% comment %}
          Check if item is image
        {% endcomment %}    
        {% capture portrait %}
        {% for item in pageArray %}{% if item contains '<img' %}{{ item }}{% endif %}
        {% endfor %}
        {% endcapture %}
        {% comment %}
          Check if item is not image
        {% endcomment %}    
        {% capture profile %}
        {% for item in pageArray %}
          {% unless item contains '<img' %}{{ item }}{% endunless %}
        {% endfor %}
        {% endcapture %}

        <div class="pic">{{ portrait }}</div>
        <div class="txt">{% if settings.team_profile_h1_inline %}<h1>{{ page.title }}</h1>{% endif %}{{ profile }}</div>

      </div>

    </div>

    {% include 'date-updated' %}

  </div>

</div>
