{% if settings.sidebar_enable %}{% assign quarters = ' large--three-quarters' %}{% else %}{% assign quarters = ' large--one-whole' %}{% endif %}
{% if settings.team_profile_layout == '2' %}{% assign profile = ' profile columns' %}{% else %}{% assign profile = ' profile' %}{% endif %}

<!-- /templates/page.liquid -->
<div class="grid--rev">

  <div class="grid__item{{ quarters }}">

    {% if settings.breadcrumb_align == 'content' %}{% include 'breadcrumb' %}{% endif %}

    {% if settings.team_profile_h1_inline == blank %}<h1>{{ page.title }}</h1>{% endif %}

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte{{ profile }}">

      {% assign gallery = page.content %}
      {% assign gallery = gallery | replace: '"><img', '">||<img' %}
      {% assign gallery = gallery | replace: '">', '">||' %}
      {% assign gallery = gallery | replace: '<img', '||<img' %}
      {% assign gallery = gallery | replace: '||||', '||' %}
      {% assign pageArray = gallery | split: "||" %}
      {% comment %}
        Check if item is image
      {% endcomment %}    
      {% capture portrait %}
      {% for item in pageArray %}{% if item contains '<img' %}{{ item }}{% endif %}
      {% endfor %}
      {% endcapture %}
      {% comment %}
        Check if item is not image
      {% endcomment %}    
      {% capture profile %}
      {% for item in pageArray %}
        {% unless item contains '<img' %}{{ item }}{% endunless %}
      {% endfor %}
      {% endcapture %}

      <div class="pic">{{ portrait }}</div>
      <div class="txt">{% if settings.team_profile_h1_inline %}<h1>{{ page.title }}</h1>{% endif %}{{ profile }}</div>

    </div>

    {% include 'date-updated' %}

  </div>

</div>
