{% include 'template-head' %}

<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid--rev">

  <div class="grid__item{{ quarters }}{% if settings.contact_columns %} columns{% endif %}">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">

      {% if settings.breadcrumb_align == 'content' %}{% include 'breadcrumb' %}{% endif %}

      <h1>{{ page.title }}</h1>


      <!--
      <p>Client Business Name:</p>
      <p>Client Store Address Summary: {{ shop.address.summary }}</p>
      <p>Client Store Street: {{ shop.address.street }}</p>
      <p>Client Store Province: {{ shop.address.province }}</p>
      <p>Client Store City: {{ shop.address.city }}</p>
      <p>Client Store Postcode: {{ shop.address.zip }}</p>
      <p>Client Store Country: {{ shop.address.country }}</p>
      -->


      {{ page.content }}
    </div>

    {% if settings.map_enable %}
    {% if settings.contact_address != blank %}
    {% assign address = settings.contact_address | replace: ", ", ' ' | replace: " ", "+" %}
    {% else %}
    {% assign address = shop.address.summary shop.address.zip | replace: ", ", ' ' %}
    {% endif %}
    {% if settings.map_width != blank and settings.map_height != blank %}
    <div class="map">
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{ address | replace: ' ', '+' }}&amp;z={{ settings.zoom_level }}&amp;output=embed"></iframe>
    </div>
    {% else %}
    <p>Configure map width and height settings</p>
    {% endif %}
    {% endif %}

    {% comment %}
      Contact form starts here
    {% endcomment %}
    <div class="form-vertical">
      {% form 'contact' %}

        {% comment %}
          Successful message
        {% endcomment %}
        {% if form.posted_successfully? %}
          <p class="note form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

        {% assign name_attr = 'contact.form.name' | t | handle %}
        <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
        <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

        <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
        <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

        {% assign name_attr = 'contact.form.phone' | t | handle %}
        <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

        <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
        <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

      {% endform %}
    </div>

    {% include 'date-updated' %}

  </div>

</div>
