{% include 'template-head' %}

<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid--rev">

  <div class="grid__item{{ quarters }}{% if settings.contact_columns %} columns{% endif %}">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">

      {% if settings.breadcrumb_align == 'content' %}{% include 'breadcrumb' %}{% endif %}

      <h1>{{ page.title }}</h1>
      
      {% if settings.contact_columns %}<div id="page-contact">{% endif %}

      {% capture addressModule %}
      {% if settings.contact_address_enable %}  
      <div class="module">
      <!-- <p>Client Store Address Summary: {{ shop.address.summary }}</p> -->
      <p class="address">
      <span>{{ shop.name }} </span>
      <span>{{ shop.address.street }} </span>
      <span>{{ shop.address.province }} </span>
      <span>{{ shop.address.city }} </span>
      <span>{{ shop.address.zip }} </span>
      <span>{{ shop.address.country }} </span>
      </p>
      </div>  
      {% endif %}
      {% endcapture %}

      {% capture contentModule %}
      {% if settings.contact_content_enable %}
      <div class="module">
      {{ page.content }}
      </div>
      {% endif %}
      {% endcapture %}

      {% capture mapModule %}
      {% if settings.contact_map_enable %}
      <div class="module">
      {% if settings.contact_address != blank %}
      {% assign address = settings.contact_address | replace: ", ", ' ' | replace: " ", "+" %}
      {% else %}
      {% assign address = shop.address.summary | append: ', ' | append: shop.address.zip | replace: ", ", ' ' %}
      {% endif %}
      {% if settings.map_width != blank and settings.map_height != blank %}      
      <div class="map">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{ address | replace: ' ', '+' }}&amp;z={{ settings.zoom_level }}&amp;output=embed"></iframe>
      </div>
      {% else %}
      <p>Configure map width and height settings</p>
      {% endif %}
      </div>
      {% endif %}
      {% endcapture %}

      {% capture formModule %}
      {% comment %}
        Contact form starts here
      {% endcomment %}
      {% if settings.contact_form_enable %}
      <div class="form-vertical module">
        {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

        {% endform %}
      </div>
      {% endif %}
      {% endcapture %}
      
      {% if settings.contact_order != blank %}
        {% assign modules = settings.contact_order | split: "-" %}
        {% for module in modules %}
          {% case module %}
            {% when 'C' %}
              {{ contentModule }}
            {% when 'A' %}
              {{ addressModule }} 
            {% when 'F' %}
              {{ formModule }}
            {% when 'M' %}
              {{ mapModule }}
          {% endcase %}
        {% endfor %}      
      {% endif %}    
      
      {% if settings.contact_columns %}</div>{% endif %}

    </div>

    {% include 'date-updated' %}

  </div>

</div>
